<div id="td-sidebar-menu" class="d-xl-block td-sidebar__inner">
  {% include share-page.html %}
  {% include course/useful-links.html %}
  <a role="button" class="btn btn-success w-100 mb-3 py-2" href="/tutorials/">Back to all tutorials</a>
  <nav class="collapse td-sidebar-nav pt-3" id="td-section-nav">
    {% for section in site.data.tutorials.git-for-students %}
      <ul class="td-sidebar-nav__section pr-md-3">
        <li class="td-sidebar-nav__section-title">
          <a  href="{% if section.url %}{{ site.baseurl }}/{{ section.url }}{% else %}{{ section.external_url }}{% endif %}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</a>
        </li>
        {% if section.links %}
        <ul>
          <li class="collapse show" id="{{ section.title | slugify }}">
            <ul class="td-sidebar-nav__section pr-md-3">
              {% for entry in section.links %}
                <li class="td-sidebar-nav__section-title">
                  <a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}"
                    class="align-left pl-0 px-2 td-sidebar-link td-sidebar-link__section">
                    {{ forloop.index + 1}}. {{ entry.title }}
                  </a>
                </li>
                <ul>
                  <li class="collapse show" id="{{ child.title | slugify }}">
                    {% if entry.children %}
                      {% for child in entry.children %}
                        <a class="td-sidebar-link td-sidebar-link__page "
                          id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}"
                          href="{% if child.url %}{{ site.baseurl }}/{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">
                        </a>
                      {% endfor %}
                    {% endif %}
                  </li>
                </ul>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %}
      </ul>
    {% endfor %}
  </nav>
</div>
