---
layout: default
title: Website Development Bootcamp
permalink: /bootcamps/website-development/
page_name: bootcamps
thumbnail: bootcamps/website-development.jpg
---

<section class="courses py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-12 overview">
        <h1 class="text-center font-weight-bold">Website Development Bootcamp</h1>

        {% include util/lazy-img.html src="bootcamps/website-development.jpg" alt="Website Development Bootcamp" %}
      </div>
      <div class="col-md-12 overview">
        <p>
          <br>
          You might have seen the following Job description for a UI developer position in many of the popular job portals.
        </p>

        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Job Description of UI Developer Position</h4>
          </div>
          <div class="col-md-12 mt-3">
            <div class="util-quote">
              <blockquote>
                <div class="paragraph">
                  <p class="quote-text">
                  We are so and so company and we are currently seeking a Junior UI/UX Developer to turn customer requirements into
                  easy-to-use products for our clients. He/she should have following <strong>pre-requisite knowledge</strong>:
                  </p>
                  <ul class="key-points">
                    <li>Good in HTML / CSS/ JavaScript</li>
                    <li>Designing graphic user interface elements, like menus, widgets and others</li>
                    <li>Should have Responsive development and framework experience</li>
                    <li>Identify and troubleshoot UX problems (e.g. responsiveness)</li>
                    <li>Works with design team to develop a functional experience</li>
                    <li>Gathering and evaluating user requirements</li>
                    <li>Experience with Git and GitHub</li>
                    <li>Should be a good team player</li>
                  </ul>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 bg-dark p-4">
        <h5 class="text-white font-weight-light line-height-30">
          This fully practical based course will help you gain enough experience of the UI Developer pre-requisites and
          with proper guidance and practice you can able to apply for above position.
        </h5>
      </div>

      <div class="col-md-12 mt-5">
        <h2>What are we going to experience</h2>
      </div>
      <div class="col-md-12">
        <p>
          We will be getting following experiences through this course:
        </p>
        <ul class="course-key-points no-list-style">
          <li class="list-item"><i class="fas fa-check mr-2"></i>Building a single page website</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Understand each and every components and
          process</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Code management through Git/GitHub</li>
          <li class="list-item"><i class="fas fa-check mr-2"></i>Glimpse of Corporate Culture</li>
        </ul>
        <h4>We are going to build similar website as below. <a href="https://anybodycandevelopwebsite.art/creative" target="_blank" class="btn btn-secondary px-4">
          Click to visit Live Website <i class="fab fa-telegram-plane ml-2"></i>
        </a></h4>
        <iframe src="https://anybodycandevelopwebsite.art/creative" title="Creative Website bg-white-shadow"></iframe>
      </div>

      <div class="col-md-12 mt-5">
        <h2>Course Stages</h2>
      </div>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-12">
            <div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link rounded-0 mr-1 mr-1 active" id="stage1-tab" data-toggle="pill" href="#stage1" role="tab">Stage 1</a>
              <a class="nav-link rounded-0 mr-1" id="stage2-tab" data-toggle="pill" href="#stage2" role="tab">Stage 2</a>
              <a class="nav-link rounded-0 mr-1" id="stage3-tab" data-toggle="pill" href="#stage3" role="tab">Stage 3</a>
              <a class="nav-link rounded-0 mr-1" id="stage4-tab" data-toggle="pill" href="#stage4" role="tab">Stage 4</a>
              <a class="nav-link rounded-0 mr-1" id="stage5-tab" data-toggle="pill" href="#stage5" role="tab">Stage 5</a>
              <a class="nav-link rounded-0 mr-1" id="stage6-tab" data-toggle="pill" href="#stage6" role="tab">Stage 6</a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tab-content mt-2 px-3 pt-3 pb-0" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="stage1" role="tabpanel" aria-labelledby="stage1-tab">
                <h4><strong>Stage 1:</strong> Introduction</h4>
                <p class="mt-4">
                  In this stage, we will know each other, setup our development environment like editor, browser etc.
                  We will also check our ways of communication like video meeting platform, chatting platform etc.
                  We will see how the course will progress and few basics of HTML/CSS/JS, Bootstrap 4 and lastly
                  some career prospects.
                  <br><br><strong>Key highlights</strong>
                </p>
                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Students and Teacher Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Development Setup</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Communication Setup</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Course Workflow</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>HTML/CSS/JS Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Bootstrap 4 Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Web Development Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Career Prospects: Role/Salary</li>
                </ul>
                <p class="mt-3">Click <strong>Stage 2</strong>.</p>
              </div>

              <div class="tab-pane fade" id="stage2" role="tabpanel" aria-labelledby="stage2-tab">
                <h4><strong>Stage 2:</strong> UI Elements & Code Sharing</h4>
                <p class="mt-4">
                  In this stage, we will get familiar with the UI elements like button, text, blocks, inputs, text area,
                  card etc. We will also see some tools to share your code with others.
                  We will also look into Git and GitHub and try to push our first change to GitHub.

                  <br><br><strong>Key highlights</strong>
                </p>
                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Basic UI Elements</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Complex UI Elements</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Code Sharing Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Git/GitHub Intro and Push 1st change to GitHub</li>
                </ul>
                <hr />
                <h5>Example:</h5>
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary mb-3">Element: Button</button><br>
                    <button type="button" class="btn btn-primary mb-3">Element: Button with Icon <i class="fas fa-laptop-code"></i></button>
                    <p class="text-primary mb-3">Element: Primary Text</p>
                    <p class="text-light bg-dark mb-3">Element: Text with dark background</p>
                    <div class="alert alert-primary mb-3" role="alert">
                      Element: Alert
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ site.image_base_url }}/img/structured-content.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Complex Element: Card</h5>
                        <p class="card-text">
                          This is the description section.
                        </p>
                        <a href="javascript:;" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mt-3">Click <strong>Stage 3</strong>.</p>
              </div>

              <div class="tab-pane fade" id="stage3" role="tabpanel" aria-labelledby="stage3-tab">
                <h4><strong>Stage 3:</strong> Components</h4>
                <p class="mt-4">
                  In this stage, we will see component which is combination of two or more UI elements.
                  A component can be seen as the smallest reusable block. We will also see how to work in images, icons and videos.

                  <br><br><strong>Key highlights</strong>
                </p>
                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Component Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Building Components</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Working with Images and Videos</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Icons and getting third party icons</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Push 2nd change to GitHub</li>
                </ul>
                <hr />
                <h5>Example:</h5>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <!-- component navbar starts -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                      <a class="navbar-brand text-white" href="#">Navbar Component</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="javascript:;">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="javascript:;">About</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Subjects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="javascript:;">Hindi</a>
                              <a class="dropdown-item" href="javascript:;">Sanskrit</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="javascript:;">English</a>
                            </div>
                          </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                      </div>
                    </nav>
                    <!-- component navbar ends -->
                  </div>
                  <div class="col-md-12 mb-3">
                    <form style="border: 1px solid #333;padding: 1rem; background-color: #fff;border-radius: 5px;">
                      <h4>Form Component</h4>
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email ...">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password ...">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                      </div>
                      <button type="submit" class="btn btn-secondary px-4">Login</button>
                    </form>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="{{ site.image_base_url }}/img/structured-content.jpg" class="img-fluid rounded">
                        <h5 class="mt-2">Image</h5>
                      </div>
                      <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe src="https://www.youtube.com/embed/ZvT0_QfkOMk" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
                        </div>
                        <h5 class="mt-2">Embedded YouTube Video</h5>
                      </div>
                      <div class="col-md-4 py-3">
                        <i class="fas fa-briefcase-medical mr-2 fa-lg"></i>
                        <i class="fas fa-bullhorn mr-2 fa-2x"></i>
                        <i class="fas fa-bus fa-4x"></i>
                        <p class="mt-2">
                          <h5>Icons with different Sizes</h5>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mt-3">Click <strong>Stage 4</strong>.</p>
              </div>

              <div class="tab-pane fade" id="stage4" role="tabpanel" aria-labelledby="stage4-tab">
                <h4><strong>Stage 4:</strong> Sections</h4>
                <p class="mt-4">
                  In this stage, we will combine components to form section of a page. I will also introduce UX to help
                  you understand the importance of relationship of elements.

                  <br><br><strong>Key highlights</strong>
                </p>
                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Section Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Header Section</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>About Section</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Contact Box Section</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Gallery Section</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Blogs Section</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Push 3rd change to GitHub</li>
                </ul>
                <hr />
                <h5>Example:</h5>
                <div class="row p-3">
                  <!-- about section starts -->
                  <div class="col-md-12" style="background-color: #fff;">
                    <h2 class="text-center mt-5">About Section</h2>
                    <div class="row mb-4">
                      <div class="col-md-7 mb-3">
                        <h5 class="text-dark mt-4 ml-4">
                          Hi, I am BRG. Your instructor for the experience program.
                          I have 8.5+ years of IT Industry experience and has wide range of
                          experience ranging from Full Stack development, QA Automation, Digital Marketing,
                          Software Development and team management.
                        </h5>
                        <p class="text-muted ml-4">
                          I have completed my Masters from Fergusson College, Pune. And, then worked in a
                          startup for nearly 5 years before joining Red Hat.
                          I left Red Hat after working nearly 3 years there to pursue my own career in
                          teaching.
                        </p>
                      </div>
                      <div class="col-md-4">
                        <img src="{{ site.image_base_url }}/img/mentorship.png" class="img-fluid profile-img rounded-circle p-1" alt="loading ..." />
                      </div>
                    </div>
                  </div>
                  <!-- about section ends -->
                </div>

                <p class="mt-3">Click <strong>Stage 5</strong>.</p>
              </div>

              <div class="tab-pane fade" id="stage5" role="tabpanel" aria-labelledby="stage5-tab">
                <h4><strong>Stage 5:</strong> Pages</h4>
                <p class="mt-4">
                  In this stage, we will learn about page and how to build it. A single page display or
                  represent a whole information about that particular matter. Eg: an "About page" describes
                  everything about whole website and contact page describe how one can contact to the owner
                  of website for any questions or business.

                <br><br><strong>Key highlights</strong>
                </p>

                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Page Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Landing Page</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>About Page</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Contact Page</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Blogs Page</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Responsive Design Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Push 4th change to GitHub</li>
                </ul>

                <p class="mt-3">Click <strong>Stage 6</strong>.</p>
              </div>

              <div class="tab-pane fade" id="stage6" role="tabpanel" aria-labelledby="stage6-tab">
                <h4><strong>Stage 6:</strong>Layout & Developer Tools</h4>
                <p class="mt-4">
                  In this stage, we will see about <strong>Layout</strong>, a very important concept in understanding
                  website and its design. Apart from it, we will also get experience in using browser developer tools
                  for debugging any issues. Also, I will explain what it takes to make any website looks like
                  a professional website. Lastly, I will touch upon what is Remote Job and how one can start with
                  Freelancing and <strong>What to do after this course.</strong>

                  <br><br><strong>Key highlights</strong>
                </p>

                <ul class="course-key-points no-list-style">
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Layout Intro</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Layout Different Types</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Browser Developer Tools</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Professional Website Features</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i>Remote Job and Freelancing</li>
                  <li class="list-item"><i class="fas fa-check mr-2"></i><strong>WHAT is NEXT?</strong></li>
                </ul>
              </div>


            </div>

            <h5 class="bg-dark w-100 pl-4 py-3 text-white">
              <strong>NOTE:</strong> You will also learn Git or GitHub as part of this course.
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-5">
        <h2>Training Features</h2>
      </div>
      <div class="col-md-12 mt-4">
        <div class="row features">
          {% include features-embed.html %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="/bootcamps/" class="btn btn-primary" role="button">All Bootcamps</a>
      </div>
    </div>
  </div>
</section>



