<div class="staticbanner">
  <div class="inner wow fadeInUp">
    <div class="hero-text-box text-center">
      <h1 class="demi-font">
        Your <strong>Online Tutor</strong> for <strong>Self-Learner</strong>
        to a <strong>Career</strong> in Software Development
      </h1>
      <h3 class="tagline">
        Craft into Better Engineer <span class="font-weight-bold">Yourself</span>
      </h3>

      <div class="actions d-flex justify-content-center mt-5">
        <a href="/courses/" role="button" class="btn btn-light px-5 py-2">Courses</a>
        <a href="/tutorials/" role="button" class="btn btn-secondary px-5 py-2 ml-3">Tutorials</a>
      </div>
    </div>
  </div>
</div>
