<section class="trainer-profile wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 profile-image-wrapper mx-auto">
        <img src="{{ site.image_base_url }}/img/profile.jpg" class="img-fluid rounded-circle p-1" >
      </div>
      <div class="col-lg-6 col-md-6">
        <h2 class="mt-4">Your Instructor</h2>
        <h5 class="text-muted mt-4">
          Hi, I am BRG, a teacher, an educator and an entrepreneur.
          <br><br>
          <span class="font-weight-normal">
            I have 8.5+ years of IT Industry experience and has wide range of
            experience from Full Stack Web Development, DevOps, Software Development, QA Automation,
            Digital Marketing and Team Management.
          </span>
        </h5>
        <p class="course-note mt-4">
          <b>Note:</b> All the courses and this website are designed and developed
          by BRG solely.
        </p>
      </div>
    </div>
    <div class="row pt-0">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 mt-0">
        <a href="https://freelancerbrg.com/about/" role="button" class="btn btn-outline-secondary">
          Know More
          <i class="fab fa-telegram-plane ml-1"></i>
        </a>
      </div>
    </div>
  </div>
</section>
