main {
  margin-top: 70px;
}


.profile-image-wrapper  {
  padding: 2rem 2rem 0 2rem;

  img {
    border: 1px solid #eee;
    box-shadow: 0 6px 30px 0 rgba(0,0,0,0.15);
  }
}

// Header SCSS
.navbar {
  padding: 1rem;
  background: $color1;

  .navbar-brand {
    .title {
      color: #333;
      line-height: 1;
      font-size: 25px;
    }
  }
}
.navbar-nav .nav-item .nav-link {
  color: #7b8b8e;
}
.navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}
.navbar-nav .nav-item.active .nav-link {
  color: #7b8b8e;
  font-weight: 800;
}
.navbar-nav {
  margin-left: 30%;
}
.banner-section {
  // background: rgb(185,31,106);
  // background: linear-gradient(90deg, rgba(185,31,106,1) 0%, rgba(0,32,126,1) 100%, rgba(0,53,136,1) 100%);
  // background: linear-gradient(90deg,#b4267c,#632695 80%);
  background-color: #dd3d31;
  background-image: url($image_base_url + "/img/overlay.svg"),linear-gradient(90deg, #b42680, #632695 80%);
  background-size: cover;
  height: 550px;
}

.section-padding {
  padding: 70px 0px;
}

.td-navbar {
  background: #003d70;
}

.navbar {
  box-shadow: 0 1px rgba(0,65,94,0.2);

  .navbar-brand {
    .title {
      color: #333;
      line-height: 1;
      font-size: 25px;
    }
  }
}

.btn.active:focus {
  box-shadow: none !important;
}

.bg-dark {
  background-color: #222;
}

.bg-white-shadow {
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08);
}

.no-list-style {
  list-style: none;
}

.text-light-dark {
  color: #666;
}

.upcoming-course {
  margin-top: -10rem;
  position: relative;

  .bg-white-shadow {
    border-radius: 10px;
  }

  .row {
    padding: 5rem;
    border-radius: 5px;
  }

  .course-key-points {
    padding-left: 1rem;
    margin-bottom: 0;

    li {
      @extend .text-light-dark;
      font-size: 16px;
    }
  }
}

.features {
  .feature-item {
    transition: 0.5s ease;

    i {
      color: #1e7bc9;
    }
    h5 {
      font-weight: 400;
      font-size: 1.1rem;
    }

    &:hover {
      animation: shake 0.2s;
      animation-iteration-count: 1;
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.staticbanner {
  // background-color: rgba(0,0,0,0.4);
  position: relative;
  color: white;
  height: 100%;

  .inner {
    padding-top: 3rem;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .hero-text-box {
    padding: 3em 2em;
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    // background: rgba(0,0,0,0.5);

    h1 {
      display: block;
      color: #fff;
      line-height: 1;
      font-size: 50px;
      font-weight: 600;
    }
    h2 {
      display: block;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      margin-top: 10px;
    }
    .tagline {
      color: yellow;
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      margin: 20px 0;
    }
    .motto {
      font-size: 1rem;
    }
  }
}

.section-heading {
  font-size: 25px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600;
}

.about-section {
  .about_text {
    .primary-text {
      color: #333;
      font-size: 18px;
    }
  }
  .about_image {
    padding-top: 20px;

    img {
      height: 350px;
      width: auto;
    }
  }
}

.elevator-pitch {
  .container {
    width: 55%;
  }
  .pitch-text {
    background: #fff;
    color: #777;
    margin-top: -45px;
    border-radius: 100px;
    padding: 30px 4em;
    position: relative;
    z-index: 20;
    box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
    border: 1px solid rgba(214, 214, 214, 0.11);

    .fas {
      font-size: 15px;
    }
    .quote-text {
      font-size: 1.3em;
    }
  }
}

.learn-section {
  .card {
    border: none;
  }
  img {
    margin: auto;
  }
  .lang-img {
    height: 110px;
    width: 120px;
  }
}

.home-section {
  .post-list {
    list-style: none;
  }
}

.blogs-highlights {
  .h4 {
    font-size: 1.2em;
  }
  .h6 {
    font-size: 14px;
  }
  .excerpt {
    font-size: 13px;
  }
  .top-first-image {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// footer css
.footer-section {
  background: #595959;

  .footer-text {
    font-size: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
  }
  .footer-social {
    a {
      font-size: 18px;
    }
  }
}

.copyright {
  background: #333;
  color: #fff;
  padding: 5px 0;

  h4 {
    margin-bottom: 0;
    font-size: 11px;

    a {
      text-decoration: none;
      color: yellow;
    }
  }
}

.block-to-contact {
  a {
    font-size: 1.5em;
    margin-top: 15px;
  }
  .fab {
    font-size: 1.2em;
  }
}

// Contact
.contact-section {
  margin-top: 65px;
}
.contact-section, .subscribe-section {
  .container {
    width: 60%;
  }

  .contact-info {
    color: #666;
    // border-radius: 0.5rem;

    h2 {
      font-size: 1.5em;
    }

    .fas, .fab {
      font-size: 2em;
    }
  }
  .form-control {
    font-size: 13px;
    border-radius: 0;
  }
}
// Subscribe
.subscribe-section {
  background: #888;

  .contact-info {
    h2 {
      margin-top: 2em;
      color: #fff;
    }
  }

  #mc_embed_signup {
    background: #888;

    .mc-field-group {
      width: 100%;
    }

    input {
      border-radius: 0;
    }

    form {
      padding: 0;
    }

    #mce-success-response {
      color: #fff;
    }
    #mce-error-response {
      color: darkred;

      a {
        color: #fff;
      }
    }

    div#mce-responses {
      padding: 0;
      margin: 0;
    }

    div.response {
      margin: 0 0 1em 0;
    }

    .button {
      margin-bottom: 0;
    }

    .indicates-required, label {
      color: #fff;
      font-size: 13px;
      font-weight: 300;
    }
  }
}

// Devtool Section
.devtools {
  .card {
    border: 0;
  }
  .card-img-top {
    width: 70%;
  }
}
.devtool {
  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  h2 {
    color: #444;
    font-size: 2em;
  }
  h3 {
    color: #666;
    font-size: 1.5em;
  }
  h4, h5, h6 {
    color: #888;
  }
  p {
    font-size: 16px;
  }
  ul li {
    font-size: 15px;
  }
}


