#page-content {
  flex: 1 0 auto;
}

header.home_header {
  background: linear-gradient(180deg, $color4, $color3);
  height: 480px;
}
header.default_header {
  .navbar {
    background: $color4;
  }
}

.profile-image-wrapper  {
  padding: 2rem 2rem 0 2rem;

  img {
    border: 1px solid #eee;
    box-shadow: 0 6px 30px 0 rgba(0,0,0,0.15);
  }
}

// Header SCSS
.navbar {
  padding: 0.5rem;
  background: transparent;

  .navbar-nav .active >.nav-link {
    color: $color1;
    font-weight: 600;
  }

  .navbar-brand {
    .title {
      color: $color1;
      line-height: 1;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
.navbar-nav .nav-item .nav-link {
  color: #eee !important;
}
.navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}
.navbar-nav .nav-item.active .nav-link {
  border-bottom: 1px solid #fff;
  font-weight: 600;
}
.navbar-nav {
  margin-left: 30%;
}

.navbar.ruby-course {
  background-color: #a61717;
  color: #fff;

  .navbar-brand .title {
    color: #fff;
  }
  .navbar-nav .nav-item .nav-link {
    color: #eee;

    &:hover {
      font-weight: 600;
    }
  }
  .navbar-nav .nav-item.active .nav-link {
    border-bottom: 1px solid #eee;
    font-weight: 800;
  }
}

.section-padding {
  padding: 70px 0px;
}

.btn.active:focus {
  box-shadow: none !important;
}

.bg-dark {
  background-color: #222;
}

.bg-white-shadow {
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08);
}

.no-list-style {
  list-style: none;
}

.text-light-dark {
  color: #666;
}

.upcoming-course {
  margin-top: -10rem;
  position: relative;

  .bg-white-shadow {
    border-radius: 10px;
  }

  .row {
    padding: 5rem;
    border-radius: 5px;
  }

  .course-key-points {
    padding-left: 1rem;
    margin-bottom: 0;

    li {
      @extend .text-light-dark;
      font-size: 16px;
    }
  }
}

.features {
  .sub-section-heading {
    color: $color5;
  }
  .sub-section-text {
    width: 70%;
  }
  .col-md-6.col-md-6:nth-child(1) {
    padding: 4rem 0;
  }
  img {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
  }
}

.masthead {
  height: 100vh;
  text-align: center;

  h1 {
    font-size: 3rem;
  }
  .divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
  }
  .salutation {
    img {
      height: 55px;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

.section-heading {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.about-section {
  .about_text {
    .primary-text {
      color: #333;
      font-size: 18px;
    }
  }
  .about_image {
    padding-top: 20px;

    img {
      height: 350px;
      width: auto;
    }
  }
}

.elevator-pitch {
  .container {
    width: 55%;
  }
  .pitch-text {
    background: #fff;
    color: #777;
    margin-top: -45px;
    border-radius: 100px;
    padding: 30px 4em;
    position: relative;
    z-index: 20;
    box-shadow: 0px 20px 50px rgba(153, 153, 153, 0.2);
    border: 1px solid rgba(214, 214, 214, 0.11);

    .fas {
      font-size: 15px;
    }
    .quote-text {
      font-size: 1.3em;
    }
  }
}

.learn-section {
  .card {
    border: none;
  }
  img {
    margin: auto;
  }
  .lang-img {
    height: 110px;
    width: 120px;
  }
}

.home-section {
  .post-list {
    list-style: none;
  }
}

.blogs-highlights {
  .h4 {
    font-size: 1.2em;
  }
  .h6 {
    font-size: 14px;
  }
  .excerpt {
    font-size: 13px;
  }
  .top-first-image {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// footer css
.footer-section {
  background: linear-gradient(180deg, #142850 0%, #0b1a38 70%);

  .footer-text {
    font-size: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
  }
  .footer-social {
    a {
      font-size: 18px;
    }
  }
}

.copyright {
  background: #333;
  color: #fff;
  padding: 5px 0;

  h4 {
    margin-bottom: 0;
    font-size: 11px;

    a {
      text-decoration: none;
      color: yellow;
    }
  }
}

.block-to-contact {
  a {
    font-size: 1.5em;
    margin-top: 15px;
  }
  .fab {
    font-size: 1.2em;
  }
}

#page-content main {
  margin-top: 60px;
}
.contact-section {
  .contact-info {
    color: #666;
    // border-radius: 0.5rem;

    h2 {
      font-size: 1.5em;
    }

    .fas, .fab {
      font-size: 2em;
    }
  }
  .form-control {
    font-size: 13px;
  }
}
// Subscribe
.subscribe-section {
  background: #888;

  .contact-info {
    h2 {
      margin-top: 2em;
      color: #fff;
    }
  }

  #mc_embed_signup {
    background: #888;

    .mc-field-group {
      width: 100%;
    }

    input {
      border-radius: 0;
    }

    form {
      padding: 0;
    }

    #mce-success-response {
      color: #fff;
    }
    #mce-error-response {
      color: darkred;

      a {
        color: #fff;
      }
    }

    div#mce-responses {
      padding: 0;
      margin: 0;
    }

    div.response {
      margin: 0 0 1em 0;
    }

    .button {
      margin-bottom: 0;
    }

    .indicates-required, label {
      color: #fff;
      font-size: 13px;
      font-weight: 300;
    }
  }
}

// share page
.sidebar-share-page {
  .badge {
    display: inline-block;
  }
  .twitter-share {
    background-color: #55acee;
  }
  .facebook-share {
    background-color: #3b5998;
  }
  .linkedin-share {
    background-color: #0077B5;
  }
}

// Getting tastes
.getting-tastes-body {
  .card {
    border: 0;

    .card-img-top {
      height: 200px;
      // width: 160px;
    }
  }
  .card-columns {
    column-count: 4;
  }
}

// Gurukul
.mentoring-section {
  .mentoring-header {
    img {
      height: 320px;
    }
  }

  .elevator-pitch {
    h3, h4 {
      line-height: 36px;
    }
  }

  .mentoring-body {
    .pitch-header {
      color: #333;
    }
    .pitch-body {
      color: #555;
      line-height: 30px;
    }
  }

  .mentoring-process {
    table th, table td {
      border: 0;
    }
  }
}

// tutorials section
.tutorials-page {
  img {
    height: 200px;
    max-width: 100%;
  }
  .card-title {
    font-size: 16px;
  }
  .card-body {
    padding: 5px;
  }
}

// courses page
.courses-page {
  img {
    height: 200px;
    max-width: 100%;
  }
}

// projects page
.projects-page {
  img {
    height: 10rem;
  }
}

// Bootcamp
.bootcamps-page {
  .container {
    max-width: 60%;
  }
  line-height: 30px;
  ul li {
    color: #666;
  }
  ul li ul li {
    font-size: 16px;
  }
  .accordion {
    .fa {
      margin-right: 0.5rem;
      font-size: 1.3rem;
    }
    .card-header {
      .btn-link {
        text-decoration: none;
        color: #333;
      }
      .btn:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .card-body {
      padding: 1.5rem 1rem 1.5rem 0;

      ul {
        margin-bottom: 0;
      }

      p {
        margin-left: 1rem;
        margin-bottom: 0;
        background: #efefef;
        margin-top: 1rem;
        padding: 5px 10px;
      }
    }
  }
  .section-wrapper {
    h4 {
      font-weight: 300;
    }
    .section-card {
      margin-top: 1.5rem;

      ul {
        margin-bottom: 0;
      }
    }
  }
  table {
    tr:nth-child(even) {
      background-color: rgba(0,0,0,0.02);
    }
  }
}
