/* Custom SCSS */
$color1: #fff;
$color2: #003d70;

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
}

.social-links {
  font-size: 1.8em;
}
.fa-twitter {
  color: #38A1F3;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-github {
  color: #eee;
}
.fa-github.light {
  color: #ddd;
}
.fa-linkedin-in {
  color: #0077B5
}
.fa-envelope {
  color: #777;
}
.fa-instagram {
  color: #E1306C;
}
.fa-youtube {
  color: red;
}
.fa-rss-square {
  color: #ee802f;
}

.p-6 {
  padding: 4em;
}
.px-6 {
  padding: 0 4em;
}
.py-6 {
  padding: 4em 0;
}
.pt-6 {
  padding-top: 4em;
}
.pb-6 {
  padding-bottom: 4em;
}
.p-7 {
  padding: 5em;
}
.px-7 {
  padding: 0 5em;
}
.px-8 {
  padding: 0 6em;
}
.px-9 {
  padding: 0 7em;
}
.py-7 {
  padding: 5em 0;
}
.pt-7 {
  padding-top: 5em;
}
.pb-7 {
  padding-bottom: 5em;
}
.mt-6 {
  margin-top: 5em;
}

.img-full-width {
  width: 100%;
}

.btn {
  border-radius: 0 !important;
}

a {
  text-decoration: none !important;
}

.jacques-francois-font {
  font-family: 'Jacques Francois Shadow', cursive;
}

.cover-image {
  padding-right: 0;
  padding-left: 0;
}

// Page Top
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10%;
  right: 4%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: auto;
  border: none;
  text-indent: 100%;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

@import "animate.min";
@import "home";
@import "blogs";
@import "about";
@import "responsive";
