<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body id="pagetop" class="d-flex flex-column">
    <main id="page-content">
      {%- include navbar.html -%}

      {{ content }}
    </main>

    {% if page.layout != "syllabus_page" and page.layout != "course" %}
      {% include footer.html %}
    {% endif %}

    <a href="#pagetop" class="scroll" id="toTop">
      <img src="/assets/img/top.png" id="toTopHover" style="opacity: 1;" />
    </a>

    {% include javascripts.html %}

    {% include youtube-video-modal.html %}
  </body>

</html>
